

@using CamlicaProje1.Models
@model kullaniciBilgileri

@{
    ViewBag.Title = "Kayıt Ol";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <link href="~/Content/css/stil.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">

                    <div class="col-lg-5 d-none d-lg-block">
                        <img src="~/Content/img/register.jpg" height="90%" width="120%" />
                    </div>

                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Yeni Bir Hesap Oluştur!</h1>
                            </div>

                            @ViewBag.Mesaj
                            <form class="row g-3 needs-validation" method="post" action="/Register/register/" novalidate>

                                <div class="col-12">
                                    <label for="ad" class="form-label">İsim</label>
                                    <div class="input-group has-validation">
                                        <input type="text" name="ad" class="form-control" id="ad" required />
                                    </div>
                                </div>

                                <p style="color:blue;text-indent:20px;">
                                    @Html.ValidationMessageFor(model => model.ad)
                                </p>

                                <div class="col-12">
                                    <label for="soyad" class="form-label">Soyisim</label>
                                    <input type="text" name="soyad" class="form-control" id="soyad" required>
                                </div>

                                <p style="color:blue;text-indent:20px;">
                                    @Html.ValidationMessageFor(model => model.soyad)
                                </p>

                                <div class="col-12">
                                    <label for="kullaniciAdi" class="form-label">Kullanıcı Adı</label>
                                    <div class="input-group has-validation">
                                        <input type="text" name="kullaniciAdi" class="form-control" id="kullaniciAdi" required>
                                    </div>
                                </div>

                                <p style="color:blue;text-indent:20px;">
                                    @Html.ValidationMessageFor(model => model.kullaniciAdi)
                                </p>

                                <div class="col-12">
                                    <label for="email" class="form-label">Mail</label>
                                    <input type="email" name="email" class="form-control" id="email" required>
                                </div>

                                <p style="color:blue;text-indent:20px;">
                                    @Html.ValidationMessageFor(model => model.email)
                                </p>

                                <div class="col-12">
                                    <label for="sifre" class="form-label">Şifre</label>
                                    <input type="password" name="sifre" class="form-control" id="sifre" required>
                                </div>

                                <p style="color:blue;text-indent:20px;">
                                    @Html.ValidationMessageFor(model => model.sifre)
                                </p>

                                <div class="col-12">
                                    <button class="btn btn-primary btn-user btn-block" type="submit">Kayıt Ol !</button>
                                </div>

                            </form>
                            <hr>

                            <div class="text-center">
                                <a class="small" href="/Login/login/">Zaten bir hesabın mı var? Giriş Yap!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/Content/js/sb-admin-2.min.js"></script>

</body>
</html>

