

@using CamlicaProje.Models
@model List<kullaniciBilgileri>

@{
    ViewBag.Title = "Kullanıcılar";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kullanıcı adı</th>
            <th>E-mail</th>
            <th>Şifre</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var k in Model)
        {
            <tr>
                <td>@k.ad</td>
                <td>@k.soyad</td>
                <td>@k.kullaniciAdi</td>
                <td>@k.email</td>
                <td>@k.sifre</td>
            </tr>
        }
    </tbody>
</table>

